.project-container {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	box-shadow: 4px 6px 14px #00000036;
	border-radius: 3px;
	color: #f9f9f9;
	padding: 16px;
	transition: all 0.3s;
	min-height: 550px;
}

.project-container--image {
	padding: 5px;
	height: 200px;
}

.project-container--image > img {
	object-fit: cover;
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.project-container--content {
	padding-inline: var(--size-400);
	padding-block-start: var(--size-100);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.project-techs {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	color: var(--clr-secund);
}

.project-tech {
	padding: 0.2rem 0.5rem;
	height: min-content;
	border-radius: 10px;
}

.sources-container {
	margin-top: 0.3rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.button-src {
	padding-block: 0.5rem;
	padding-inline: 1rem;
	border: 1px solid hsl(var(--clr-secund));
	border-radius: 10px;
}

.button-src:hover {
	background-color: var(--clr-almost-dark-400);
}

.button-src img {
	width: 35px;
	height: 35px;
	object-fit: contain;
}
