.slide-container {
	width: 100%;
	padding-block: 40px;
	position: relative;
}

.slide-content {
	margin-left: 10px !important;
	margin-right: 10px !important;
	position: initial;
}

.swiper-button-prev {
	left: -12px;
}

.swiper-button-next {
	right: -12px;
}

@media (min-width: 55em) {
	.swiper-button-prev {
		left: -20px;
	}

	.swiper-button-next {
		right: -20px;
	}
}

.swiper-button-prev::after,
.swiper-button-next::after {
	content: '';
	width: 24px;
	height: 24px;
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
}

.swiper-button-prev::after {
	background: url('/assets/icons/chevron-double-left.svg');
}

.swiper-button-next::after {
	background: url('/assets/icons/right-arrow.svg');
}
