.button-container {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.button-container > button {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	background: hsl(var(--clr-almost-dark));
	color: hsl(var(--clr-secund));
	border: 2px solid hsl(var(--clr-secund));
	font-weight: var(--fw-black);
	min-width: max-content;
	cursor: pointer;
	font-family: var(--ff-bold);
	font-size: var(--fs-620);
}

@media (max-width: 528px) {
	.button-container {
		display: block;
	}

	.button-container > button {
		font-size: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

.button-container > button:hover {
	background-color: hsl(var(--clr-secund) / 0.1);
}

.button-container > button.active {
	background: hsl(var(--clr-secund));
	color: hsl(var(--clr-almost-dark));
	border: 2px solid hsl(var(--clr-secund));
}
