---
const { title, classNames, ...props } = Astro.props
---

<a class={`${classNames} button`} {...props}>
	{title}
</a>

<style>
	.button {
		display: inline-flex;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		padding: 1rem 1rem;
		border-radius: 10px;
		text-decoration: none;
		font-weight: var(--fw-black);
		font-family: var(--ff-bold);
		font-size: var(--fs-button);
		transition: all 0.2s ease-in;
		background: transparent;
		line-height: 1;
		border: 1px solid hsl(var(--clr-secund));
		color: hsl(var(--clr-secund));
		cursor: pointer;
	}

	.button[data-type='inverted'] {
		background-color: hsl(var(--clr-almost-dark));
		border: 1px solid hsl(var(--clr-almost-dark));
	}

	.button[data-type='inverted']:hover,
	.button[data-type='inverted']:focus-visible {
		border: 1px solid hsl(var(--clr-white));
		background-color: hsl(var(--clr-white));
	}

	.button:hover {
		background-color: hsl(var(--clr-secund));
		color: hsl(var(--clr-almost-dark));
	}
</style>
