---
const { title, classNames, ...props } = Astro.props
---
<a class={`${classNames} button`} {...props}>
	{title}
</a>

<style>
	.button {
		display: inline-flex;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		justify-self: center;
		align-self: flex-start;
		padding: 1em 2em;
		border-radius: 10px;
		text-decoration: none;
		font-weight: var(--fw-bold);
		font-size: var(--fs-button);
		transition: all 0.2s ease-in;
		background: transparent;
		line-height: 1;
		border: 1px solid hsl(var(--clr-secund));
		color: hsl(var(--clr-secund));
	}

	.button:hover {
		background-color: hsl(var(--clr-secund));
		color: hsl(var(--clr-almost-dark));
	}
</style>
