---
const { title } = Astro.props
---

<h1 class='uppercase ff-bold fw-black fs-700 title letter-spacing-3 text-almost-red'>{title}</h1>

<style>
	.title {
		text-align: center;
		border-bottom: 1px solid hsl(var(--clr-secund));
		padding-bottom: 0.5rem;
		margin-bottom: 3rem;
	}
</style>
