---
import { useAssets } from '../../../public/assets'

const { useIcons } = useAssets()
const { Logo } = useIcons()
---

<a href='#'>
	<svg class='icon' width='45' height='45'>
		<use xlink:href={`${Logo}#logo`}></use>
	</svg>
</a>
