---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Education from '../Education/Education.astro'
import { Skills } from '../Skills/Skills.jsx'
import Title from '../Title/Title.astro'
---

<SectionLayout backgroundColor={'var(--clr-almost-dark-100)'} id='resume'>
	<Title title='My resume' />
	<div class='even-columns'>
		<div>
			<Title title='education quality' />
			<Education />
		</div>
		<div>
			<Title title='my skills' />
			<Skills client:load />
		</div>
	</div>
</SectionLayout>

<style>

</style>
