---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Education from '../Education/Education.astro'
import { Skills } from '../Skills/Skills.jsx'
import Title from '../Title/Title.astro'
---

<SectionLayout>
	<Title title='My resume' />
	<div class='even-columns'>
		<div>
			<h2>EDUACTION QUALITY</h2>
			<Education />
		</div>
		<div>
			<h2>MY SKILLS</h2>
			<Skills client:visible />
		</div>
	</div>
</SectionLayout>

<style>
</style>
