---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Education from '../Education/Education.astro'
import { Skills } from '../Skills/Skills.jsx'
import Subtitle from '../Subtitle/Subtitle.astro'
import Title from '../Title/Title.astro'
---

<SectionLayout backgroundColor={'var(--clr-almost-dark-100)'} id='resume'>
	<Title title='My resume' />
	<div class='resume-content even-columns'>
		<div>
			<Subtitle title='education quality' />
			<Education />
		</div>
		<div>
			<Subtitle title='my skills' />
			<Skills client:load />
		</div>
	</div>
</SectionLayout>
