---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Education from '../Education/Education.astro'
import { Skills } from '../Skills/Skills.jsx'
import Title from '../Title/Title.astro'
---

<SectionLayout>
	<Title title='My resume' />
	<div class='flex resume-container'>
		<div class='resume-container--education'>
			<h2>EDUACTION QUALITY</h2>
			<Education />
		</div>
		<div class='resume-container--skills'>
			<h2>MY SKILLS</h2>
			<Skills client:visible />
		</div>
	</div>
</SectionLayout>

<style>
	.resume-container {
	}
	.resume-container--education {
		width: 50%;
	}
	.resume-container--skills {
		width: 50%;
	}
</style>
