---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Button from '../Button/Button.astro'
---

<SectionLayout backgroundColor={'var(--clr-secund) / 0.65'}>
	<div class='even-columns vertical-align-center cta-content'>
		<div>
			<p class='fs-primary-heading ff-bold fs-900 fw-black text-center-md'>
				Escribeme y empezemos a trabajar!
			</p>
		</div>
		<div class='justify-self-end-md justify-self-center-md'>
			<Button title='Contáctame' data-type='inverted' href='mailto:sergio-luis98@hotmail.com' />
		</div>
	</div>
</SectionLayout>

<style>

</style>
