---
import Button from "../Button/Button.astro";

---

<div class="even-columns vertical-align-center">
  <div>
    <p class="fs-primary-heading fw-bold">
      Escribeme y empezemos a trabajar!
    </p>
  </div>
  <div class="justify-self-end-md">
    <Button title="Contáctame" />
  </div>
</div>