---
import Photo from '../../assets/images/myphoto.jpg'
import SectionLayout from '../../layouts/SectionLayout.astro'
import Title from '../Title/Title.astro'
---

<SectionLayout backgroundColor={'var(--clr-almost-dark-100)'} id='about'>
	<Title title='About me' />
	<div class='even-columns'>
		<p data-width='wide' class='fs-620'>
			I am a systems engineer passionate about web development and learning, I have good foundations
			in frontend development as well as backend knowledge, I like to be constantly learning as I am
			always looking to improve my skills. My current goal is to be part of a good work team that
			likes challenges and is collaborative to improve each other.
		</p>
		<img src={Photo} alt='My image' />
	</div>
</SectionLayout>
