---
import { useAssets } from '../../../public/assets'
import SectionLayout from '../../layouts/SectionLayout.astro'
import Title from '../Title/Title.astro'

const { useImages } = useAssets()
const { MyPhoto } = useImages()
---

<SectionLayout backgroundColor={'var(--clr-almost-dark-100)'} id='about'>
	<Title title='About me' />
	<div class='even-columns'>
		<p data-width='wide' class='fs-620 text-center-md'>
			I am a Systems Engineer focused on web software developer, I have good knowledge in frontend,
			backend and database. The part that I like the most about web development is the frontend, it
			satisfies me to create good experiences for the user and provide them with the ease of
			interacting with the web, I like to be in constant learning, I think that there is always
			something new to learn. My current goal is to be able to be part of a development team that is
			competitive, accepting challenges, and passionate about creating great user experiences.
		</p>
		<img src={MyPhoto} alt='My image' />
	</div>
</SectionLayout>
