---
const { education } = Astro.props
---

<section class='education-item--container'>
	<div year={education.year} class='education-title--container'>
		<h2>{education.title}</h2>
	</div>
	<div class='education-content--container'>
		<h4 class='fs-300'>
			{education.subtitle}
		</h4>
		<p>{education.description}</p>
	</div>
</section>

<style>
	.education-item--container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.education-title--container {
		padding-left: 4rem;
		position: relative;
		display: flex;
		align-items: center;
	}

	.education-title--container::before {
		content: '';
		position: absolute;
		width: 1rem;
		height: 1rem;
		left: 2.5rem;
		border-radius: 50%;
		box-shadow: 0px 0px 20px 6px hsl(var(--clr-secund));
	}

	.education-content--container p {
		max-width: 42ch;
	}

	.education-title--container::after {
		content: attr(year);
		position: absolute;
		color: hsl(var(--clr-almost-dark));
		font-weight: bolder;
		background: hsl(var(--clr-secund));
		left: -2px;
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		display: flex;
		align-items: center;
		padding-left: 4px;
		width: 36px;
			height: 18px;
			font-size: 0.65rem;
	}

	.education-content--container > h4 {
		margin-bottom: 4px;
		color: hsl(var(--clr-secund));
	}

	.education-content--container {
		border-left: 2px solid hsl(var(--clr-secund));
		margin-inline-start: 3rem;
    padding-inline-start: 1rem;
	}

	@media (min-width: 55em) {
		.education-content--container {
		margin-inline-start: 4.2rem;
    padding-inline-start: 2.5rem;
	}
	.education-title--container::after {
		width: 48px;
		left: -2px;
		height: 24px;
		font-size: 0.85rem;
	}
	.education-title--container::before {
		width: 1.4rem;
		height: 1.4rem;
		left: 3.5rem;
	}

	.education-title--container {
		padding-left: 6rem;
	}
}

</style>
