---
const { href, title, download } = Astro.props
---

{
	download
		? (
			<a class='flex button button-cv uppercase' href={href} download='SERGIO_PEREZ_CV'>
				{title}
			</a>
		)
		: (
			<a class='button button-mail uppercase flex' href={href}>
				{title}
			</a>
		)
}

<style>
	.button {
		align-items: center;
		justify-content: center;
		justify-self: center;
		align-self: flex-start;
		width: max-content;
    padding-inline: 1rem;
		height: 50px;
		border-radius: 10px;
		text-decoration: none;
		font-weight: bold;
		transition: all 0.2s ease-in;
		background: transparent;
		border: 1px solid hsl(var(--clr-secund));
		color: hsl(var(--clr-secund));
	}

	.button:hover {
		background-color: hsl(var(--clr-secund));
		color: hsl(var(--clr-almost-dark));
	}
</style>
