---
import About from '../components/About/About.astro'
import Cta from '../components/Cta/Cta.astro'
import Home from '../components/Home/Home.astro'
import ProjectsMain from '../components/Projects/ProjectsMain.astro'
import Resume from '../components/Resume/Resume.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main>
		<Home />
		<About />
		<ProjectsMain />
		<Resume />
		<Cta />
	</main>
</Layout>
