---
import About from '../components/About/About.astro'
import Home from '../components/Home/Home.astro'
import Resume from '../components/Resume/Resume.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main>
		<Home />
		<About />
		<Resume />
	</main>
</Layout>
