---
import HeroImage from '../../assets/images/hero.png'
import Button from '../Button/Button.astro'
import CV from '../../assets/docs/CV SERGIO PÉREZ.pdf'
import SectionLayout from '../../layouts/SectionLayout.astro'
---

<SectionLayout id='#'>
	<div class='even-columns'>
		<div class='hero-content'>
			<h1 class='ff-bold fw-bold fs-900 uppercase text-center-md'>
				Hi There, <span class='text-almost-red'>I'am</span>
				<span class='text-almost-red d-block bolder fs-900'>Sergio Pérez</span>
			</h1>
			<p class='fs-650'>System Enginer, FullStack Developer and Cats Lover</p>
			<div class='button-content--container'>
				<Button title='Download CV' href={CV} download='CV_SERGIO_PEREZ' />
			</div>
		</div>
		<img src={HeroImage} alt='' />
	</div>
</SectionLayout>
<style>
	.hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.button-content--container {
		margin-top: 0.5rem;
	}

	@media (min-width: 55em) {
		.hero-content {
			align-items: flex-start;
		}
	}
</style>
