---
import Navbar from '../Navbar/Navbar.astro'
import Button from '../ButtonCV/Button.astro'
import ButtonNav from './ButtonNav.astro'
---

<header class='primary-header'>
	<div class='container'>
		<div class='nav-wrapper'>
			<a href="#">
				<svg class="logo" width="146" height="24">
					<use xlink:href="../../assets/images/logo.svg#logo"></use>
				</svg>
			</a>
			<ButtonNav />
			<div class='container-nav flex'>
				<Navbar />
			</div>
			<Button classNames="display-sm-one display-md-inline-flex" title='Contact me' href='mailto:sergio-luis98@hotmail.com' download='SERGIO_PEREZ_CV' />
		</div>
	</div>
</header>

<style>
	.primary-header {
		margin-top: var(--size-600);
	}
	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>
