---
import Navbar from '../Navbar/Navbar.astro'
import Button from '../Button/Button.astro'
import ButtonNav from './ButtonNav.astro'
import Logo from '../Logo/Logo.astro'
---

<header class='primary-header'>
	<div class='container'>
		<div class='nav-wrapper'>
			<Logo />
			<ButtonNav />
			<div class='container-nav flex'>
				<Navbar />
			</div>
			<div class='button-container display-sm-one display-md-inline-flex'>
				<Button title='Contact me' href='mailto:sergio-luis98@hotmail.com' />
			</div>
		</div>
	</div>
</header>

<style>
	.primary-header {
		margin-top: var(--size-600);
		position: sticky;
	}
	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
</style>
