---
import Button from '../ButtonCV/Button.astro'
---

<div class='mobile-nav-toggle' aria-expanded='false'>
	<span></span>
	<span></span>
	<span></span>
</div>
<nav class='primary-navigation flex' data-visible='false'>
	<ul class="flex">
		<li>
			<a class='text-white letter-spacing-2 uppercase ff-sans-normal bolder' href='#about'
				>About</a
			>
		</li>
		<li>
			<a class='text-white letter-spacing-2 uppercase ff-sans-normal bolder' href='#'
				>Skills</a
			>
		</li>
		<li>
			<a class='text-white letter-spacing-2 uppercase ff-sans-normal bolder' href='#'
				>Projects</a
			>
		</li>
	</ul>
	<Button title='contact me' href='mailto:sergio-luis98@hotmail.com' />
</nav>

<style>
	.mobile-nav-toggle {
		display: none;
	}

	.primary-navigation {
		list-style: none;
		padding: 0;
		margin: 0;
		gap: clamp(1rem,4vw,3rem);
	}

	.primary-navigation a {
		text-decoration: none;
	}

	.primary-navigation a > span {
		font-weight: 700;
		margin-right: 0.5em;
	}

	@media (max-width: 35em) {
		.primary-navigation {
			position: fixed;
			z-index: 1000;
			inset: 0 0 0 20%;
			list-style: none;
			margin: 0;
			flex-direction: column;
			transform: translateX(100%);
			transition: transform 500ms ease-in-out;
			padding: min(20rem, 15vh) 0 0 2rem;
			border-left: 1px solid hsl(var(--clr-secund));
			background: hsl(var(--clr-almost-dark));
		}

		.primary-navigation > ul {
			flex-direction: column;
			gap: clamp(1rem,4vw,3rem);
		}
		.mobile-nav-toggle {
			z-index: 2000;
			cursor: pointer;
			display: inline-flex;
			flex-direction: column;
			gap: 5px;
			position: absolute;
			top: 1.5rem;
			padding-right: 1rem;
		}

		.mobile-nav-toggle > * {
			display: inline-block;
			width: 32px;
			height: 5px;
			background-color: hsl(var(--clr-secund));
			transition: all 0.3s ease;
		}

		.primary-navigation[data-visible='true'] {
			transform: translateX(0);
		}

		.mobile-nav-toggle[aria-expanded='true'] > :first-child {
			transform: rotate(-45deg) translate(-8px, 6px);
		}

		.mobile-nav-toggle[aria-expanded='true'] > :nth-child(2) {
			opacity: 0;
		}

		.mobile-nav-toggle[aria-expanded='true'] > :last-child {
			transform: rotate(45deg) translate(-8px, -6px);
		}
	}

	@media (min-width: 35em) {
  .primary-navigation {
		justify-content: space-between;
		align-items: center;
		width: 100%;
  }

	.primary-navigation > ul {
		gap: 0.8rem;
	}
}
</style>

<script type='module'>
	const navToggle = document.querySelector('.mobile-nav-toggle')
	const nav = document.querySelector('.primary-navigation')
	const mediaQuery = window.matchMedia('(max-width: 35rem)')

	navToggle.addEventListener('click', () => {
		const visiblity = nav.getAttribute('data-visible')
		// if the nav is closed, open it
		if (visiblity === 'false') {
			nav.setAttribute('data-visible', true)
			navToggle.setAttribute('aria-expanded', true)
		} else {
			nav.setAttribute('data-visible', false)
			navToggle.setAttribute('aria-expanded', false)
		}
		console.log(visiblity)
	})

	mediaQuery.addEventListener('change', (e) => {
		if (!e.matches) {
			nav.setAttribute('data-visible', false)
			navToggle.setAttribute('aria-expanded', false)
		}
	})
</script>
