<nav class='primary-navigation' id='primary-navigation'>
	<ul aria-label='Primary' role='list' class='nav-list'>
		<li>
			<a href='#about'>About Me</a>
		</li>
		<li>
			<a href='#projects'>Projects</a>
		</li>
		<li>
			<a href='#resume'>Resume</a>
		</li>
	</ul>
</nav>

<style>
	.primary-navigation {
		list-style: none;
		padding: 0;
		margin: 0;
		gap: clamp(1rem, 4vw, 3rem);
		z-index: 100;
	}

	.nav-list {
		display: flex;
		gap: clamp(var(--size-400), 5vw, var(--size-600));
	}

	.nav-list a {
		text-decoration: none;
		color: hsl(var(--clr-white));
		font-weight: var(--fw-bold);
		font-size: var(--fs-nav);
	}

	.nav-list a:hover,
	.nav-list a:focus {
		color: hsl(var(--clr-secund));
	}
	@media (max-width: 40em) {
		.nav-list {
			display: grid;
			gap: var(--size-600);
			text-align: center;
		}
		.primary-navigation {
			position: fixed;
			z-index: 1000;
			inset: 0 0 0 20%;
			list-style: none;
			margin: 0;
			flex-direction: column;
			transform: translateX(100%);
			transition: transform 500ms ease-in-out;
			padding: min(20rem, 15vh) 0 0 2rem;
			border-left: 1px solid hsl(var(--clr-secund));
			background: hsl(var(--clr-almost-dark));
		}
		.primary-navigation[data-visible] {
			transform: translateX(0);
		}
	}

	@media (min-width: 40em) {
		.primary-navigation {
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
</style>

<script type='module'>
	const navToggle = document.querySelector('.mobile-nav-toggle')
	const nav = document.querySelector('.primary-navigation')
	const mediaQuery = window.matchMedia('(max-width: 40rem)')

	navToggle.addEventListener('click', () => {
		nav.hasAttribute('data-visible')
			? navToggle.setAttribute('aria-expanded', false)
			: navToggle.setAttribute('aria-expanded', true)
		nav.toggleAttribute('data-visible')
	})

	mediaQuery.addEventListener('change', (e) => {
		if (!e.matches) {
			console.log('not matches')
			nav.removeAttribute('data-visible')
			navToggle.setAttribute('aria-expanded', false)
		}
	})
</script>
