---
const { backgroundColor, id } = Astro.props
---

<section class='padding-block-800' id={id}>
	<div class='container'>
		<slot />
	</div>
</section>

<style define:vars={{ backgroundColor }}>
	section {
		background-color: hsl(var(--backgroundColor));
	}
</style>
