---
const { isDark } = Astro.props

const backgroundColor = isDark ? '#171C23' : 'transparent'
---

<section class="padding-block-800">
	<div class='container'>
		<slot />
	</div>
</section>

<style define:vars={{ backgroundColor }}>
	section {
		background-color: var(--backgroundColor);
	}
</style>
